
input:valid:not(:placeholder-shown){
    border: 2px solid rgb(0, 255, 0);
}
input:invalid:not(:placeholder-shown){
    border: 2px solid rgb(255, 0, 0);
}
/* 
input{
    background-color: #d29292;
} 

input[type="email"], input[type="password"]{
    background-color: #d29292;
}

#idEmail, #idSenha{
    background-color: #d29292;
}
*/

#idEmail, #idSenha{
    background-color: #d29292;
}